---
import "../styles/global.css";
---

<nav
    class="fixed top-0 w-full z-40 border-b border-white/10 bg-black/80 backdrop-blur-md"
>
    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
        <a
            class="heading-font text-2xl font-bold tracking-tighter cursor-default"
        >
            GLITCH
        </a>
        <div class="hidden md:flex space-x-8 text-sm uppercase tracking-widest">
            <a href="#members" class="hover:text-cyan-400 transition-colors"
                >Miembros</a
            >
            <a href="#services" class="hover:text-cyan-400 transition-colors"
                >Equipos</a
            >
        </div>
        <button class="md:hidden text-white">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>
</nav>
