---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syncopate:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<title>GLITCH |Redefiniendo el error</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
